@font-face {
	font-family: 'Braille';
	src: url('./fonts/Night-Braille.otf');
}
.visual-impairment {
	padding: 20px 0;
	color: black;
	top: 0;
	left: 0;
	right: 0;
	letter-spacing: 0;
	position: relative;
	text-shadow: none;
	line-height: normal;
	border: 0;
	margin-bottom: 0.3rem;
	background-color: #f7f7f7;
	border-color: black;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.23);
	z-index: 999999 !important;
}
.eye-visual {
	font-size: 24px;
	padding: 0 15px;
}
.fvi-panel-block {
	padding: 5px 5px 10px;
}
.p-visual {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
}

.btn-visual {
	text-decoration: none;
	color: black;
	background-color: transparent;
	transition: background-color 0.2s ease-out;
	cursor: pointer;
	border-radius: 2px;
	display: inline-block;
	height: 36px;
	font-weight: 600;
	font-size: 20px;
	line-height: 36px;
	padding: 0 10px;
	vertical-align: middle;
	border: 1px solid #b2b2b2;
	text-align: center;
}
.btn-visual:hover, .btn-visual:focus, .btn-visual:active {
	color: black;
	outline: 0;
	background-color: #dbdbdb;
	text-decoration: none;

}
.description-visual {
	border-top: 1px solid rgb(204, 204, 204);
	margin-top: 15px;
	padding-top: 15px;
	font-size: 15px;
	text-align: center;
	font-weight: 600;
}

[data-style="eye"] .slider,
[data-style="eye"] .carousel,
[data-style="eye"] .r4s-banner-main {
	display: none;
}
[data-style="eye"] .nav-stacked {
	left: 0 !important;
	position: absolute;
	top: 0 !important;
}
[data-style="eye"] .main-banner {
	background: #eee !important;
}
